<h1> About Us </h1>

<div id="about">
	<center>
		<h3> The Best Project in Class</h3>
		<h4> Made by:</h4>
		 <%= image_tag "Ryan.jpg" %>
		 <%= image_tag "Gis.jpg" %>
		 <%= image_tag "Mina.jpg" %>
		 <%= image_tag "Sai.jpg" %> <br><br>
		 A na yan, sir!
	</center>
</div>