<marquee><h3> Items </h3></marquee>

<% @items.each do |x| %>
	<%=x.desc%> <%=x.name%><br>
<% end %> 

<div class="galleria">
    <img src="photo1.jpg">
    <img src="photo2.jpg">
    <img src="photo3.jpg">
</div>