<<<<<<< HEAD
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flexslider.css
 */

a 
=======
#header a 
>>>>>>> be7a02774664e351d9be6ed8b73d0420655816df
{
	color: rgb(0,104,73); 
	font-size: 20px;
	float: right;
	text-decoration: none;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 30px;
	font-weight: bold;
}

#header
{
	background-image: url("Header.png");
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    padding-top: 45px;
    padding-bottom: 45px;
}

body 
{
	background-color: #efefef;
	font-family: "HelveticaNeue-Light", sans-serif;
	font-size: 15px;
}

#footer
{
	font-size: 14px;
	float:right;
	font-style: italic;
}